<h1>Listing Keywords</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="keywords">
    <%= for keyword <- @keywords do %>
      <tr id={"keyword-#{keyword.id}"}>
        <td><%= keyword.title %></td>

        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
